#
foodstuff

#
base.inc

#
conf/db.conf
conf/db*.conf
!conf/db_dummy.conf

#
dbinfo/setup.txt
dbinfo/setup_dev.txt
dbinfo/setup_re.txt

#
log/*.log

#
conf/secret.conf

#
smarty_wk/templates_c/*
!smarty_wk/templates_c/.gitkeep
smarty_wk/admin_templates_c/*
!smarty_wk/admin_templates_c/.gitkeep
smarty_wk/config/*
!smarty_wk/config/.gitkeep

